
<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/css/bootstrap.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.2.1/bootstrap-social.min.css"></script>
		<title>Maliha Mustafa</title>
	</head>

	<body>
		<div class="container-fluid">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header"><button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#"> Maliha Mustafa  </a>
					</div>
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav navbar-right">
							<li class="{% ifequal navtag "moses"  %}active{% endifequal %}">
								<a href="#">
									<span class="glyphicon glyphicon-home"></span>
								</a>
							</li>
							<li class="{% ifequal navtag "tfidf"  %}active{% endifequal %}">
								<a href="#publications">Articles</a>
							</li>
							<li class="{% ifequal navtag "comparison"  %}active{% endifequal %}">
								<a href="https://github.com/sriniiyer/sriniiyer.github.io/blob/master/sviyer_resume.pdf">CV</a>
							</li>
							<li class="{% ifequal navtag "comparison"  %}active{% endifequal %}">
								<a href="https://scholar.google.com/citations?hl=en&user=jNjde2wAAAAJ&view_op=list_works&authuser=1&sortby=pubdate">G Scholar</a>
							</li>

						</ul>
					</div>
				</div>
			</nav>

			<div class="row">
				<div class="col-md-2">
				</div>
				<div class="col-md-2">
					<img src='mypic.jpg' class="img-responsive img-rounded">
					<address>
						<h3>contact</h3>
						<p>
						<h5>
							<a href="http://www.washington.edu/maps/#!/cse">11</a> Rock <br>
							Stone,, <br>
							Mountain View, CA 94043 <br>
							<br>
							Email: <a href="mailto:maliha@cs.washington.edu">maliha@cs.washington.edu</a> <br>
							<br>

							<div class="navbar-text pull-left">
								<a href="mailto:maliha@cs.washington.edu"><i class="fa fa-envelope-square fa-3x"></i></a>
								<a href="https://www.facebook.com/maliha"><i class="fa fa-facebook-square fa-3x"></i></a>
								<a href="https://www.linkedin.com/in/malihamustafa/"><i class="fa fa-linkedin-square fa-3x"></i></a>
							</div>

						</h5>
						</p>
				</address>					
				</div>
				<div class="col-md-6"> 
					<div class="jumbotron">
						<h1> Maliha Mustafa </h1>
						<p>
							Hi, I'm Maliha.
						</p>
						<p>
						Second paragraph
						</p>
						<p>
						Third paragraph.
						</p>
						<p>
						Fourth Paragraph
						</p>
						<a name="publications"></a> 
						<h3>Articles</h3>
						<h5>business development</h5>

						<div class="gsc_a_t">
							<a href="thesis.pdf" class="gsc_a_at">First Article</a>
							<div class="gs_gray">Maliha Mustafa</div>
							<div class="gs_gray">2019</div>
						</div>
						<br>
						
						<div class="gsc_a_t">
							<a href="https://www.aclweb.org/anthology/D19-1546.pdf" class="gsc_a_at">Second Article</a>
							<div class="gs_gray">Maliha Mustafa</div>
							<div class="gs_gray">2018</div>
							<a href="https://github.com/rajasagashe/JuICe">LINK</a>
						</div>
						<br>

						<h5>strategy</h5>


						<div class="gsc_a_t">
							<a href="https://scholar.google.com/citations?view_op=view_citation&amp;hl=en&amp;user=jNjde2wAAAAJ&amp;citation_for_view=jNjde2wAAAAJ:2osOgNQ5qMEC" class="gsc_a_at">Strategy Article 1</a>
							<div class="gs_gray">Maliha Mustafa</div>
							<div class="gs_gray">2020</div>
						</div><br>
						<div class="gsc_a_t">
							<a href="https://scholar.google.com/citations?view_op=view_citation&amp;hl=en&amp;user=jNjde2wAAAAJ&amp;citation_for_view=jNjde2wAAAAJ:2osOgNQ5qMEC" class="gsc_a_at">Strategy Article 2</a>
							<div class="gs_gray">Maliha Mustafa</div>
							<div class="gs_gray">2020</div>
						</div><br>



						<h3>teaching</h3>
						<a name="teaching"></a> 
						<a href="https://courses.cs.washington.edu/courses/cse344/14au/">Course 1</a><br>
						<div style="font-size: 10px;">Booth 2014</div>
						<br>
						<a href="">Course 2</a><br>
						<div style="font-size: 10px;">Booth 2012</div>

					</div>
				</div>
				<div class="col-md-2">
				</div>
			</div>


		</div>
	</body>
</html>
